# ignore log files
*.log

# ignore text_model contents except for select files
/text_model/*
!/text_model/__init__.py
!/text_model/get_model.py

# ignore processing contents in regards to reddit posts and parsed posts
/processing/posts_parsed/*
/processing/reddit_posts/*
/processing/fighter_names.txt
